<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <!--Loop over the payload variable, which is the list of tasks-->
  {{range .payload }}
    <!--Create the link for the task based on its ID-->
    <a href="/event/view/{{.ID}}">
      <!--Display the title of the task -->
      <h2>{{.Title}}</h2>
    </a>
    <!--Display the description of the task-->
    <p>{{.Desc}}</p>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}